@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@1&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500&family=Ubuntu&display=swap');

body{
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    width: 0.5rem;
  }

body::-webkit-scrollbar-track {
    background-color: lightgrey;
    
  }

body::-webkit-scrollbar-thumb {
    background-color: #18062c;
    border-radius: 20px;       /* roundness of the scroll thumb */
    outline: 1px solid slategrey;
  }

.profilecard::-webkit-scrollbar {
    width: 0.25rem;
  }

.profilecard::-webkit-scrollbar-track {
    background-color: lightgrey;
  }

.profilecard::-webkit-scrollbar-thumb {
    background-color: #827394;
    border-radius: 20px;       /* roundness of the scroll thumb */
    outline: 1px solid slategrey;
  }

.custom_navbar{
        background-color: #433751;
    }
.profilecard .noPadding ul{
    position: -webkit-sticky !important;
    position: sticky !important;
    z-index: 1 !important;
    top: 0 !important;
    padding: 0.5rem 0 0 0;
    background-color: white;
    justify-content: space-around !important;
}

.active{
    background-color: #EDD2F3 !important;
}

.nav-tabs .nav-link.active{
    border-color: transparent !important;
}


.navLink{
    color:white !important;
    padding-right: 2.5rem !important;
    padding-left: 2.5rem !important;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif !important;
    color: white !important;
    font-size: 1.75rem !important;
}

.navLink:hover{
    color: yellow !important;
}

.form-position{
    margin:0 auto;
}

.content{
    justify-content: center !important;
}


.logincard{
    margin: 40% 0%;
    text-align: center;
    background-color: #A68DAD !important;
}

.centered{
    text-align: center;
}

.intro{
    background-color: #A68DAD;
    font-family: 'Rubik', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    padding: 3% 15% 2% 2%;
    color: aliceblue;
}

.container-fluid{
    padding: 0 !important;
    position:relative !important;
}

.details1{
    line-height: 2;
    font-size: 3.5rem;
    font-weight: 900;
}

.details2{
    line-height: 2;
    font-size: 2.5rem;
    color: #433751;
}

.details3{
    line-height: 2;
}



.middle{
    padding: 0% 3% 3% 3%;
    text-align: center;
    color: aliceblue;
    background-color: #A68DAD;
}

.feature-title{
    font-family: 'Josefin Slab', serif;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  .feature-details{
    color: #8f8f8f;
    width: 70%;
    margin: 0 auto;
  }

  .icon-size{
    font-size: 4rem;
    color: #A68DAD;
  }
  
  .icon-size:hover{
    color: #433751;
  }

  .end{
      padding: 5% 3%;
      text-align: center;
  }

  .col-md-4{
      margin: 1.25rem 0;
  }
  
  .login-link{
      text-decoration: none;
      color:aliceblue
  }

  .login-link:hover{
      color: #433751;
  }

  .loginBox{
      padding: 1rem 0;
  }

.btn-primary{
    background-color: #433751 !important;
    border-color: #433751 !important;
}

.btn-primary:hover{
    background-color: #5d506b !important;
    border-color: #5d506b !important;
}

.cardTitle{
    margin-bottom: 3rem !important;
    color: #433751 !important;
}


.register-link{
    text-decoration: none;
    color: #271e31;
}
.register-link:hover{
    color: #5d506b;
}

.noPadding{
    padding: 0 !important;
}

.msg{
    color:yellow;
    font-weight:"bold";
}

.userBtn{
    display: flex;
    justify-content: space-between;
}

.topbtns{
    margin: 1rem !important;
}

.create-friend{
    display: inline-block !important;
}

.addbtn{
    padding: 0 0 0 0.5rem !important;
}

.logoutbtn{
    margin-top: 3rem;
}

.offcanvas{
    color: #433751 !important;
}
.profilecard{
    margin: 1.25rem auto;
    width: 95%;
    height: 25rem !important;
    overflow-y: auto;
    
}

.profilecard ul{
    margin-bottom: 0% !important;
}

.tab-content{
    padding: 1rem !important;
   height: 100% !important;
   background-color: #EDD2F3 !important;
}

.formpage-icon-right{
    position: absolute;
    right: 1rem;
    top: 13rem;
    bottom: 12rem;
    display: inline-block;
    cursor: pointer;
}

.formpage-icon-left{
    position: absolute;
    left: 1rem;
    top: 13rem;
    bottom: 12rem;
    display: inline-block;
    cursor: pointer;
}



.css-b62m3t-container{
    margin: 0 auto;
    width: 15rem !important;
}

.unequal-label{
    margin: 0.5rem auto;
    padding: 0.5rem;
    width: 17rem;
}

.col-form-label{
    text-align: center;
}

.err-msg{
    color: red;
    text-align: center;
}

.popover-body {
    height: 8rem;
    overflow-y: auto;
    white-space:pre-wrap;
}

.history-box{
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    position: relative;
    color: antiquewhite;
    background-color: #433751;
}

.delete-icon{
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    cursor: pointer;
}

.nav-item .nav-link.active{
    color: #433751 !important;
    font-weight: 700 !important;
}

.nav-item .nav-link{
    color: black !important;
}

.parentDisable{
    position: fixed;
    top: 0;
    left: 0;
    background: #FDFAF6;
    opacity: 0.6;
    z-index: 10;
    height: 100%;
    width: 100%;
  }
  
  .overlay-box {
    position:absolute;
    top:50%;
    left:50%;
    z-index: 11;
  }

  .error-icon{
      font-size: 10rem;
      color: #433751;
  }

  .error-page{
      margin: 10rem auto 10rem auto;
  }

  .error-text{
      display: flex;
      flex-direction: column;
  }

  .reminder-btn{
      height: 2.25rem !important;
  }

@media only screen and (max-width: 600px) {
    .details1{
        line-height: 1.25;
        font-size: 2.5rem;
        font-weight: 600;
    }
    
    .details2{
        line-height: 1.25;
        font-size: 2rem;
        color: #433751;
    }
    
    .details3{
        line-height: 1.25;
    }

    .offcanvas{
        width: 50% !important;
    }

    .error-msg-size{
        font-size: 1.25rem;    }

    .error-icon{
        font-size: 8rem;
    }
    
}